@import '../constants.css';

/*! NAV STARTER */
.nav{
    background-color: transparent;

    position: absolute;
    top: 0;
    width: 1000px;
    height: 50px;

    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding-inline: 3%;
}
.nav__title{
    display: inline-block;
}

@media (max-width: 1000px) {
    .nav{
        width: 100%;
    }
}
#check{
    display: none;
}
/*! HOVER EFFECTS */
.nav__title::after{
  content: "";
  height: 3px;
  width: 0%;
  background-color: var(--lighter-primary-color);
  display: block;
  transition: all 0.5s;

  margin-inline: 10%;
}
.nav__title:hover{
  color: var(--lighter-primary-color);
}
.nav__title:hover::after{
  width: 80%;
}


.nav__list-container li::after{
  content: "";
  height: 3px;
  width: 0%;
  background-color: var(--lighter-primary-color);
  display: block;
  transition: all 0.5s;

  margin-inline: 10%;
}
.nav__list--a:hover{
  color: var(--lighter-primary-color);
}
.nav__list-container li:hover::after{
  width: 80%;
}

/*! SIDEBAR */
.checkbtn{
    float: right;
    color: var(--color);
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    right: 0px;

    display: none;

    z-index: 3;
}
.nav__list-container{
    width: max-content;
    float: right;
}
.nav__list-container li{
    display: inline-block;
    margin-left: 13px;
    color: var(--color)
}
@media (max-width: 650px) {
    .checkbtn{
        display: inline-block;
    }
    .nav__list-container{
        display: none;
    }
}
@media (min-width: 650px) {
    .checkbtn{
        display: none;
    }
    .nav__list-container{
        display: inline-block;
    }
}

@media (max-width: 858px){
  .checkbtn{

    display: block;
    z-index: 3;
  }
  .nav__list-container{
    position: fixed;
    width: 60%;
    height: 100vh;
    top: 2  0px;
    background-color: var(--thirdary-color);
    left: 100%;
    text-align: center;
    transition: all .2s;
    display: inline;
    z-index: 2;

    padding-top: 10%;
  }
  .nav__list-container li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav__list-container li a{
    font-size: 20px;
  }
  .nav__list--a:hover, .nav__list--a.active{
    background: none;
    color: var(--lighter-primary-color);
  }
  #check:checked ~ .nav__list-container{
    left: 40%;
  }
}





/* 
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }

  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  } */