@import '../constants.css';

/*! NAV STARTER */
.nav{
    background-color: transparent;

    position: absolute;
    top: 0;
    width: 1000px;
    height: 50px;

    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding-inline: 3%;
}
.nav__title{
    display: inline-block;
}

@media (max-width: 1000px) {
    .nav{
        width: 100%;
    }
}
#check{
    display: none;
}
/*! HOVER EFFECTS */
.hover::after{
  content: "";
  position: relative;
  left: 0;
	right: 0;
  height: 3px;
  width: 0%;
  transform: translateX(10%);    
  background-color: var(--lighter-primary-color);
  display: block;
  transition: all 0.5s;

}
.hover:hover{
  color: var(--lighter-primary-color);
}
.hover:hover::after{
  width: calc(80% - 3px);

}

/*! SIDEBAR */
.checkbtn{
    float: right;
    color: var(--red-text-color);
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    right: 0px;

    display: none;

    z-index: 3;
}
.nav__list-container{
    width: max-content;
    float: right;
}
.nav__list-container li{
    display: inline-block;
    margin-left: 13px;
    color: var(--red-text-color);
    
}

#blur{
  filter: blur(0px);
  transition: all 500ms;
  
}
@media (max-width: 650px) {
    .nav{
      /* background: linear-gradient(to bottom, rgba(30, 30, 30, 0.5),rgba(30, 30, 30, 0.3), transparent); */
      position: fixed;
    }
    .checkbtn{
        display: inline-block;
    }
    .nav__list-container{
        display: none;
    }
}
@media (min-width: 650px) {
    .checkbtn{
        display: none;
    }
    .nav__list-container{
        display: inline-block;
    }
}

@media (max-width: 650px){

  .checkbtn{

    display: block;
    z-index: 3;
  }
  .nav__list-container{
    position: fixed;
    width: 60%;
    height: 100vh;
    top: 2  0px;
    background-color: var(--thirdary-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    /* background-image: linear-gradient(to bottom, var(--thirdary-color), transparent); */
    left: 100%;
    text-align: center;
    transition: all .2s;
    display: inline;
    z-index: 1;

    padding-top: 10%;
  }
  .nav__list-container li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav__list-container li a{
    font-size: 20px;
  }
  .nav__list--a:hover, .nav__list--a.active{
    background: none;
    color: var(--lighter-primary-color);
  }
  #check:checked ~ .nav__list-container{
    left: 40%;
  }
  #check:checked ~ .blur{
    
  filter: blur(30px);
  }
}
