@import "../constants.css";
:root{
    --triangle-size-value: calc(15vw + 15px);

    --page-background-color: var(--primary-color)
}

.page{
    position: absolute;
    width: 90%;
    margin-left: 5%;

    top: calc(100vh + var(--triangle-size-value));
    height: 1000px;
    background-color: var(--page-background-color);

    z-index: -1;

    margin-bottom: 1000px;
    
}






#triangle{
    width: 0;
    height: 0;

    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
    

    border-bottom: var(--triangle-size-value) solid var(--page-background-color);

    position: inherit;
    /* top: calc(-15vw + -14px); */
    top: calc((-1 * var(--triangle-size-value)) + 1px);
    /* weird i know but its good, as u can see it negates it and just 1 px bc there is a weird gap  */
}   



#bottom-triangle1{
    position: absolute;
    bottom: -100px;
    left: 0px;
    
    background-color: transparent;

    border-left: 0 solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100px solid var(--page-background-color);
}

#bottom-triangle2{
    position: absolute;
    bottom: -100px;
    right: 0px;
    
    
    background-color: transparent;

    border-left: 50vw solid transparent;
    border-right: 0px solid transparent;
    border-top: 100px solid var(--page-background-color);
}
#circle{
    position: relative;

    transform: translateX(-50%);
    top: calc((-1 * var(--triangle-size-value)) + -10vh);
    left: 50%;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;

    opacity: 1;

}
.svg-inline--fa.fa-w-10{
    width: 100%;
    height: 100%;
}