@import "../constants.css";

.about{
    background-color: transparent;

    margin-inline: 25%;
    
    text-align: left;
}
.about__hi{
    display: flex;
    align-items: center;
}
.about__hi h1{
    color: var(--light-color);
    font-size: 42px;
}
.about__hi img{
    margin-left: 8px;
    transform: rotate(0deg);
}