.project{
    /* background-color: green; */
    margin-top: 300px;          /*! PLEASE EDIT THIS LATER   +++++++++++   */

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: min-content;
    padding-inline: 5%;

}
.project path{
    fill: var(--light-color);
}
.project * {
    color: var(--light-color);
}
.project > p{
    font-size: 28px;
    margin-left: 5%;
}
.project__container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;


}






.project__card{
    padding: 50px 0px;
    display: flex;
    gap: 50px;
    flex-direction: row;
}

.project__card--image{
    flex: 1;
    height: 300px;
    width: 400px;
}
.project__card--image img{
    height: 300px;
    width: 400px;

    object-fit: cover;
    border-radius: 10px;
}



.projects__container > div{
    display: flex;
    gap: max-content;
}
.projects__container > div > div{
    flex: 1;
}
.card__text{
    display: grid;
    flex: 1;
    width: 450px;
}
.card__text > p{
    font-size: 16px;
}
.card__text--links{
    display: flex;
    margin-top: 16px;
}

.card__text--links > a > svg{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}




.card__text--tools{
    display: flex;
    gap: 20px;
    margin-top: 16px;
}
.card__text--tools p{
    font-size: 16px;
}


@media (max-width: 1115px) {
    .project{
        width: 100%;


        /* background-color: red; */
    }
    .projects__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
        overflow-x: scroll;

        
    }

    #style-1::-webkit-scrollbar-track
    {
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        border-radius: 10px;
        background-color: var(--quadrary-color);
        
    }

    #style-1::-webkit-scrollbar
    {
        width: 12px;
        height: 6px;
        background-color: transparent;
    }

    #style-1::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
        background-color: var(--thirdary-color);
    }



    
    .project__card{
        flex-direction: column;
    }
    .project__card2{
        flex-direction: column-reverse;
    }
}