@import "../constants.css";

.skills{
    display: flex;
    justify-content: center;

}
.skills__container{
    width: 900px;
    
    display: flex;
    flex-direction: column;
}
.skills__container *{
    color: var(--light-color)
}


.skills__container--skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 10px;
    content: '';
    margin-top: 50px;
}
.skills__container--skills > div{
    background-color: var(--thirdary-color);
    border-radius: 10px;
    height: min-content;

    display: flex;
    align-items: center;

    padding: 10px;

    backface-visibility: hidden;
    transform: perspective(1000px) rotateX(90deg);
}
.flip{

    transition: 1s;
    animation: flip 1s forwards;
}
@keyframes flip{
    0%{

        transform: perspective(1000px) rotateX(90deg);
    }
    100%{
        transform: perspective(1000px) rotateX(0deg);
    }
}
.skills__container--skills > div > img{
    width: 20px;
    aspect-ratio: 1/1;
    margin-right: 4px;
}





.project__card--image img{
    overflow: hidden;
}





.card1 {
    animation-delay: 100ms;
  }
  
  .card2 {
    animation-delay: 200ms;
  }
  
  .card3 {
    animation-delay: 300ms;
  }
  
  .card4 {
    animation-delay: 400ms;
  }
  
  .card5 {
    animation-delay: 500ms;
  }


  
@media (max-width: 1115px) {
    .skills__container{
        width: 700px;
    }
    .skills__container--skills{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
  
@media (max-width: 823px) {
    .skills__container{
        width: 80%;
    }
    /* .skills__container--skills{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    } */
}
@media (max-width: 533px) {
    .skills__container--skills{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}