@import "../constants.css";



.who{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;


    margin-bottom: 100px;
    width: 800px;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    color: var(--light-color);
}

.who__text{
    padding-right: 90px;
    color: currentColor;

}
.who__text h3{
    font-size: 28px;
    font-weight: bold;
    color: currentColor;
    padding-bottom: 20px;
}
.who__text p{
    font-size: 16px;
    color: currentColor;
}

.who__image img{
    border-radius: 38% 62% 44% 56% / 24% 46% 54% 76% ;
    transition: border-radius 500ms ease-in-out;
    
}


  
@media (max-width: 1115px) {
    .who{
        display: block;
        width: 80%;
    }
    .who__text{
        padding-right: 0px;
    }
    .who__image img{
        display: none;
    }
}