:root{
	--primary-color: #c8293f;
    --lighter-primary-color: #ee304b;
    --secondary-color: #fe7f4c;
    --thirdary-color: #2f112d;
    --quadrary-color: #7f0131;

    --light-color: #ffdbc5;

    --red-text-color: #c8293f;

}    