@import './constants.css';



/*! background image */
body{
    overflow-x: hidden;
    background-color: black;
    margin-bottom: 3000px;
}
.background-image{
    background-image: url("./assets/background.jpg");
    /* background-color: var(--primary-color); */

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;

    z-index: -3;

    background-size: cover;
    background-position: center;
}
