@import './constants.css';



/*! background image */
body{
    overflow-x: hidden;
    background-color: black;
}
.background-image{
    background-image: url("./assets/background.jpg");
    /* background-color: var(--primary-color); */

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    z-index: -3;

    background-size: cover;
    background-position: center;
}